<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= stylePath %>">
  </head>
  <body>
    <div class="main_div">
      <div style="flex: 0 0 20%; padding: 10px;">
        <% paths.each do |fileInfo| %>
          <a target="viewer" href="<%= fileInfo[0] %>"><%= fileInfo[1] %></a><br>
        <% end %>
      </div>
      <iframe name="viewer" style="flex: 1 1 80%" frameborder="0" url="about:blank">
    </div>
  </body>
</html>